<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Home page <%=5+5 %></h1>
    <h1>random Number <%= Math.floor( Math.random()*50)+50 %></h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed fugit
      dignissimos soluta quas, voluptatem molestias alias at reiciendis minima
      illum quo velit, provident et. Expedita optio aspernatur sapiente est nam
      exercitationem totam ipsam cupiditate laboriosam iusto corrupti sint
      quidem, porro, culpa mollitia modi vero molestiae eum soluta accusamus
      dolorum. Veritatis qui repellat provident ratione vero ut delectus aliquid
      id nulla eum, eius aliquam dolore suscipit similique nobis consequatur
      dicta nostrum commodi? Aspernatur aperiam quae impedit facere consequuntur
      perspiciatis vel id. Voluptas, corporis dignissimos! Eum tempore similique
      amet, quam commodi ad! Provident velit facere ut eos nihil tempore
      voluptatem eius repellendus.
    </p>
  </body>
</html>
