* {
    box-sizing: border-box;
   
}
body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    text-align: center;
    background-color: #f5f5f5;
    margin: 100px;
}
.container {
    width: 1140px;
    margin: 0 auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;

}
.column-4{
    width: 25%;

}

.tarif_one {
    width: 250px;
    border-radius: 10px;
    margin: 20px;
    padding: 20px  0 40px  0;
    background-color: #fff;
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14),
    0 6px 30px 5px rgba(0, 0, 0, 0.12),
    0 8px 10px -5px rgba(0, 0, 0, 0.2);
    transition: .3s linear;
}
.tarif_one:hover{
    flex-basis: ;
}
h2 {
    font-size: 36px;
    margin: 0;
    padding-top: 10px;
}
.opacity {
    opacity: 50%;
    font-weight: bold;
}
.text {
    line-height: 28px;
    padding: 0  30px  10px  30px;
}
p {
    font-weight: bold;
}
a {
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-family: sans-serif;
    padding: 10px 24px;
    font-weight: bold;
    letter-spacing: 2px; 
    border-radius: 10px;
    transition: 0.5s;
}
a:hover,
a:focus {
    text-decoration: underline;
}
.red {
    background-color: #c73756;
}
.orange {
    background-color: #d7913b;
}
.blue {
    background-color: #2b6689;
}
.green {
    background-color: #63bb34;
}
.line_header_one{
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-color: #c73756;
}
.line_header_two {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-color:#d7913b;
}
.line_header_three::before {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-color: #2b6689;
}
.line_header_four::before {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-color: #63bb34;
  
}

