* {
    box-sizing: border-box;
}
body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background-color: #e45d44;
}
.container {
    width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login {
    width: 300px;
    height: 350px;
    background-color: #e6e4e4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 15px;
    box-shadow:0 0 5px 0.5px #6e6e6e;
}
.username {
    margin-bottom: 25px;
}
form .username input {
    width: 250px;
    outline: none;
    padding: 9px;
    border: none ;
}
input::placeholder {
    text-align: center;
}
input {
    text-align: center;
}
.password {
    margin-bottom: 25px;
}
form .password input {
    width: 250px;
    outline: none;
    padding: 9px;
    border: none ;
}
.fbb {
    padding-right: 5px;
}
.tww {
    padding-right: 5px;
}
button {
    width: 250px;
    outline: none;
    padding: 9px;
    border: none ;
    background-color: #32a75a;
    color: #fff;
    box-shadow:0 3px 0 0px #12552a;
}
.login a {
    text-decoration: none;
    color: #e45d44;
    font-weight: bold;
    font-size: 14px;
}
p {
    color: #fff ;
    font-weight: thin;
    font-size: 14px;
    padding: 20px;
}
a {
    text-decoration: none;
}
.links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.fb {
    font-size: 1rem;
    width: 90px;
    padding: 10px 25px;
    color: #fff;
    background-color: #3a5ba0;
    margin-right: 15px;
    box-shadow:0 0 5px 0.5px #30487e;
}
.tw {
    font-size: 1rem;
    width: 90px;
    padding: 10px 35px;
    color: #fff;
    background-color: #1cb7eb;
    box-shadow:0 0 5px 0.5px  #31a3c9;
}
