* { box-sizing: border-box;
}
.container {
    margin: 0 auto;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
form {
    width: 300px;
    padding: 1em;
    border: 1px solid rgba(23, 4, 56, 0.829);
    border-radius: 2em;
}
div {
    margin-top: 20px;
}
textarea {
    resize: none;

}
input {
    padding: 10px;
}
label {
    text-align: right;
}
input:focus,
textarea:focus {
    border-color: #000;
}
.email{
    position: relative;
}
.mail{
    position: absolute;
    right: 35px;
    top: 5px;
}