video {
  border: 1px solid #000;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  margin-top: 100px;
}
.container video {
  width: 800px;
  height: auto;
}

.container {
  margin: 100px auto;
  width: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
button {
  width: 200px;
  height: 40px;
  border-radius: 10px;
  border: 0;
  margin-top: 50px;
}

button:hover {
  background-color: #ddd;
}
