@import "reset";
@import "setup";
@import "@media";

body{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.nav {
    width: 100%;
    background-color: #fff;
}
.nav__menu {
    background-color: #fff;
}