* {
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
.flex_container {
    height: 700px;
    border: 5px solid red;
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    justify-content: flex-start;
    
    /* justify-content: center;
    flex-wrap: wrap;
    align-items: center; */
}
.flex_element {
    border: 10px solid rgb(255, 239, 18);
    flex-basis: 400px;
    flex-grow: 1;
    flex-shrink: 1;
    
}
.flex_element:nth-child(1) {
    order: 2;
    align-self: flex-end;
}
.flex_element:nth-child(2) {
    order: 3;
    align-self: center;
}
.flex_element:nth-child(3) {
    order: 1;
    align-self: flex-start;
}
.flex_item {
    background-color: cornflowerblue;
    padding: 50px;
    color: #fff;
    font-weight: bold;
    font-size: 1.5rem;
}