@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500;700&display=swap');


//!  Colors
$main-color: black;
$secondary-color: #fff;
$back-color: #ffffff;
$border-color: #d9d9d9;
$hover-color: grey;


//!   Font Weightts
$regular: 400;
$medium: 500;
$bold: 700;


//!  Font 
$font: 'Cormorant Garamond', serif;
$main-size: 1rem;
$secondary-size: 1.25rem;
$big-size: 3rem;


body {
    font-family: $font;
    overflow: hidden;
    background-color: $back-color;
}