@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;600;700&display=swap');

:root{
    $header_height: 3rem;


    $text_color: #161212;
    $border_color: #8F8A8A;
    $body_color: #fff;


    $main_font: 'Garamond';

    $big_font_size: 2rem;
    $normal_font_size: .938rem;
    $small_font_size: .813rem;
    $h2_font_size: 1.25rem;
    $h3_font_size: 1.125rem;


    $font_semi_bold: 600;
    $font_bold: 700;


    $mar1: .5rem;
    $mar2: 1rem;
    $mar3: 1.5rem;
    $mar4: 2rem;
    $mar5: 2.5rem;
    $mar6: 3rem;


    $z_tooltip: 10;
    $z_fixed: 100;


    $list_style: none;


    @media screen and (min-width: 968px){
        $big_font_size: 3rem;
        $normal_font_size: 1rem;
        $small_font_size: .875rem;
        $h2_font_size: 1.75rem;
        $h3_font_size: 1.25rem;
    }
}



*, ::before, ::after{
    box-sizing: border-box;
}


html{
    scroll-behavior: smooth;
}


body{
    margin: $header_height 0 0 0;
    font-family: $main_font;
    font-size: $normal_font_size;
    background-color: $body_color;
    color: $text_color;
    line-height: 1.6;
}

h1,h2,h3,ul,p{
    margin: 0;
}

h1,h2,h3{
    font-weight: $font_semi_bold;
}

ul{
    padding: 0;
    list-style: $list_style;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
    height: auto;
}


.section{

    padding: 4rem 0 2rem;

    &-title, &-title-center{
        font-size: $h2_font_size;
        color: $text_color;
        text-align: center;
        margin-bottom: $mar3;
    }
}



.l-main{
    overflow: hidden;
}

.bd_container{
    max-width: 968px;
    width: calc(100% - 3rem);
    margin-left: $mar3;
    margin-right: $mar3;
}

.bd_grid{
    display: grid;
    gap: 1.5rem;
}

.l-header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: $z_fixed;
}