<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Home Page <%= 5 + 5 %></h1>
    <h1>
      Random Number from 50 - 100: <%= Math.floor(Math.random() * 50) + 50 %>
    </h1>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquid suscipit
      dicta, consequatur, tenetur aspernatur ex aut dolor doloremque aperiam
      nihil ratione accusamus est error beatae. Tempora fuga quo recusandae?
      Corrupti!
    </p>
  </body>
</html>
