*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    padding: 20px 0;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background-color: rgb(243, 243, 243);
}
.container{
    width: 1140px;
    margin: 0 auto;
}
ul{
    list-style: none;
}

.main_menu > li{
    float: left; 
}
.main_menu:after{
    content: '';
    clear: both;
}
li{
    width: 250px;
    background-color: seagreen;
    text-align: center;
}
ul li a{
    display: inline-block;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    width: 250px;
    padding: 20px 0;

}
ul li:hover{
    background-color: rgb(30, 95, 58);
}

p{
    margin-top: 40px;
}
.cat, .wom{
    position: relative;
}

.sub_menu{
    display: none;
    position: absolute;
    top: 63px;
    left: 0;
}
.sub_sub_menu{
    display: none;
    position: absolute;
    top: 0;
    left: 250px;
}
.cat:hover .sub_menu{
    display: block;
}
.wom:hover .sub_sub_menu{
    display: block;
}