* {
    box-sizing: border-box;
}
body {
    
    font-family: 'Gilroy';
    src: url('Gilroy-Regular.eot');
    src: local('Gilroy Regular'), local('Gilroy-Regular'),
        url('Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
        url('Gilroy-Regular.woff2') format('woff2'),
        url('Gilroy-Regular.woff') format('woff'),
        url('Gilroy-Regular.ttf') format('truetype');
    margin: 0;
    line-height: 24px;
    position: relative;
}
.container {
    width: 1920px;
    margin: 0 auto;
    position: relative;
    z-index: 1000;
}
.text-center {
    text-align: center;
}
.top_menu{
    height: 48px;
    background-color: #330066;
}
header {
    background: linear-gradient(to top, #333399, #6666cc); 
    height: 900px;
    color: #fff;
    position: relative;
    
}
h1, h2, h3, h4, h5 {
    font-family: 'Gilroy';
    text-transform: uppercase;
}
.text-left {
    text-align: left;
}
h1 {
    font-size: 2rem;
    padding-top: 223px;
    margin-bottom: 32px;
    margin-left: 375px;
    line-height: 42px;
}
header h2 {
    font-family: 'Gilroy';
    text-transform: none;
    font-weight: normal;
    font-size: 20px;
    margin-bottom: 60px;
    margin-left: 375px;
}
.btn_padrobniy {
    font-size: 13px;
    text-decoration: none;
    text-transform: uppercase;
    color: #663399;
    font-family: 'Gilroy';
    padding: 20px 48px;
    background-color: #fff;
    transition: 0.5s;
    font-weight: bold;
    letter-spacing: 1px;
    border-radius: 50px;
    margin-left: 375px;
}
.btn_padrobniy:hover,
.btn_padrobniy:focus {
    background-color: #ff9900;
    color: #fff;
}
.logo_1{
    background: url(../img/logo.png) 0 0/cover no-repeat;
    display: inline-block;
    width: 290px;
    height: 118px;
    position: absolute;
    left: 848px;
    top: 45px;
  }
[class^="column"]{
    float: left;
    padding: 0 15px;
}
.column-2{
    width: 50%;
}
.column-3{
    width: 33.33%;
}
.column-4{
    width: 25%;
}
.column-5 {
    width: 40%;
}
.column-6 {
    width: 20%;
    margin-right: 8%;
    margin-top: 5%;
    margin-bottom: 8%;
}
.column-7 {
    width: 10%;
    margin-right: 2%;
    margin-left: 15%;
    margin-top: 1%;
    margin-bottom: 1%;
}
.margin_note {
    margin-left: 20%;
}
.onepic {
   
}
.drug_one {
    
    width: 789px;
    height: 432px;
    position: absolute;
    top: 340px;
    left: 889px;
    animation: drugone 2s linear alternate;
}
/* @keyframes drugone{
    from{
        top:800px;
        transform: scale(0.3) rotate(90deg);
        
        
    }
    to{
       top: 340px;
    }
} */

@keyframes drugone {
    0%   {top:800px;
        transform: scale(0.3) rotate(90deg);}
    50%  {transform: scale(1); top: 340px;}
    75%  {transform: scale(1.3);}
    100% {transform: scale(1);}
}

.row {
    margin: 0 -15px;
    text-align: center;
    position: relative;

}
.row::before,
.row::after {
    content: "";
    display: table;
}
.row::after {
    clear: both;
    content: "";
}
.column-2{
    width: 50%;
}
.column-3{
    width: 33.33%;
}
.menu_left {
    float: left;
    text-align: left;
    font-family: sans-serif;
    margin: 2px 0;
    padding-left: 250px;
    
}
.menu_right {
    float: right;
    text-align: right;
    font-family: 'Gilroy';
    margin: 2px 0;
    padding-right: 250px;
    
}
.menu_left a {
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    margin-left: 40px;
    font-family: 'Gilroy';
    letter-spacing: 1px;
    border-style:solid;
    border-width: 0px 0px 0px 0px;
    transition: all .1s ease-in;
    

}
nav {
    padding: 34px 0;
}
.menu_right a {

    color: #fff;
    text-decoration: none;
    font-size: 15px;
    margin-left: 40px;
    font-family: 'Gilroy';
    letter-spacing: 1px;
    border-style:solid;
    border-width: 0px 0px 0px 0px;
    transition: all .1s ease-in;

}
.menu_left a:hover {
    border-style:solid;
    border-width: 0px 0px 3px 0px ;
    border-color: #ffcc00;
    padding-bottom: 4px;
}    
.menu_right a:hover {
    border-style:solid;
    border-width: 0px 0px 3px 0px ;
    border-color: #ffcc00;
    padding-bottom: 4px;
}      
.block_menu {
    height: 95px;
    background-color: #6666cc;
    
}
.block_menu a {
    margin-top: 40px;

}
.fixed {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}
.main_menu {
    position: relative;
}

#our_advantage {
    padding: 60px 0 200px 0;
}
.line_header::after {
    content: "";
    display: block;
    width: 92px;
    height: 4px;
    background-color: #333399;
    margin: 30px auto;
    border: solid #333399;
}
#our_advantage .row h2 {
    font-size: 36px;
    text-transform: none;
}
#our_advantage .row p{
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}
.card_one {
    border: 0.1px solid #fff;
    border-radius: 20px;
    width: 270px;
    height: 316px;
    box-shadow: 0 0 10px 0 #888888;
    background-color: #fff;
    color: #333333;
    transition: 0.3s ease-in-out;
}
.card_one:hover,
.card_one:focus {
    background: rgb(51,51,153);
    background: linear-gradient(45deg, rgba(51,51,153,1) 0%, rgba(153,153,255,1) 86%);
    color: #fff;
}
.card_one h3 {
    padding-top: 10px;
    font-size: 20px;
    text-transform: none;
}
.card_one p {
    font-weight: 100;
    font-size: 16px;
    line-height: normal;

}
.card_one img { 
       position: absolute;
       top: 25px;
       left: 25px;
}
.note_border {
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid #fff;
    width: 112px;
    height: 112px;
    position: relative;
    top: 24px;
    left: 79px;
}

#product {
    padding: 100px 0 100px 0;
    background-color: #6666cc;
    position: relative;
}
#product h2 {
    font-size: 36px;
    text-transform: none;
    color: #fff;
    line-height: 40px;
}
.line_headers::after {
    content: "";
    display: block;
    width: 92px;
    height: 4px;
    background-color: #ff9900;
    margin: 30px auto;
    border: solid #ff9900;
}
#product p {
    font-size: 16px;
    font-weight: normal;
    color: #fff;
    
}
.btn_katalog {
    font-size: 13px;
    text-decoration: none;
    text-transform: uppercase;
    color: #663399;
    font-family: 'Gilroy';
    padding: 20px 48px;
    background-color: #fff;
    transition: 0.5s;
    font-weight: bold;
    letter-spacing: 1px;
    border-radius: 50px;
}
.padding-text {
    padding-bottom: 25px;
}
.btn_katalog:hover,
.btn_katalog:focus {
    background-color: #ff9900;
    color: #fff;
}
#product h3 {
    color: #fff;
    font-weight: normal;
    padding-top: 40px;
}
.tablet_img {
    margin-left: 500px;
    margin-top: 20px;
}

#konsultation {
    padding: 100px 0 100px 0;
    background-color: #fff;
    position: relative;
}
#konsultation p {
    font-weight: bold;
    padding-bottom: 70px;
}

/* #zayafka {
    background: url(../img/bgczayafka.png) 0 0/cover no-repeat;
    height: 790px;
   
   
} */
.qwerty{
    background: url(../img/bgczayafka.png) 0 0/cover no-repeat;
    height: 795px;
    position: relative;
    
}
.form_pole {
    margin-top: 180px;
    color: #fff;
    margin-right: 500px;
}
.form_pole h3 {
    text-transform: none;
    font-size: 36px;
    font-weight: normal;
}
.form_filling {
    height: 452px;
    width: 440px;
    background-color: #fff;
    border-radius: 30px;
}
.form_filling h2 {
    font-size: 26px;
    color: #fff;
    background-color: #ff9900;
    padding: 30px 0;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    margin-bottom: 0;
}

.btn_atpravit {
    font-size: 13px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-family: 'Gilroy';
    padding: 25px 160px;
    background-color: #ff9900;
    transition: 0.5s;
    font-weight: bold;
    letter-spacing: 1px;
    border-radius: 50px;
}
.form-control{
    padding: 10px;
    
}
input {
    border-radius: 10px;
    
}
textarea {
    border-radius: 10px;
    margin-bottom: 15px;
}
.form_filling p {
    color: #666666;
    font-size: 16px;
    line-height: normal;
    padding-top: 10px;
}
.info {
    background: url(../img/info.png) 0 0/cover no-repeat;
    height: 41px;
    width: 57px;
    position: absolute;
    left: 15%;
    top: 7px;
}
.pipoint{
    background: url(../img/pinpoint.png) 0 0/cover no-repeat;
    height: 61px;
    width: 45px;
    position: absolute;
    left: 840px;
    top: 0;
}
.phone_number {
    background: url(../img/phone.png) 0 0/cover no-repeat;
    height: 59px;
    width: 38px; 
    position: absolute;
    left: 1390px;
    top: 0;
}
footer {
    position: relative;
    padding: 50px 0 50px 0;
}
.column-7 a {
    font-weight: bold;
    text-decoration: none;
    position: absolute;
}
#copyright{
    background-color: #330066;
    color: #fff;
    text-align: center;
    padding: 20px 0 20px 0;
}