*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    background-color: #f5f5f5;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.flex_container {
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}

[class*="column-"] {
    padding-left: 15px;
    padding-right: 15px;
    min-width: 1px;
    max-width: 100%;
}
nav {
    width: 300px;
    /* position: fixed; */
    height: 100%;
    overflow: hidden;
}
nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
}
nav ul li {
    margin-left: 35px;
    letter-spacing: 1px;  
}
nav ul a {
    display: block;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    padding: 30px;
    transition: .5s;
}
nav ul a:hover {
    background-color: #f4e4e4;
}
a {
    color: #000000;
}
.icon_one {
    background: url(../img/incom.png) 0 0/50px no-repeat;
    display: block;
    position: relative;
}