@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

//Font Weigths
$regular: 400;
$medium: 500;
$bold: 700;

//Font-size
$normal-size: 1rem;
$second-size: 1.25rem;
$big-size: 4.375rem;

//CONTAINER
$header_container: 1140px;
$container: 1090px;

//COLORS
$main_color: #0B132A;
$menu_color: #4F5665;
$primary_color: #F53838;
$signup_color: #F53855;

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Rubik', sans-serif;
}
.container{
    max-width: $header_container;
    margin: 0 auto;
}
.bd-container{
    max-width: $container;
    margin: 0 auto;
}
%d-flex{
    display: flex;
}
img{
    max-width: 100%;
    height: auto;
}
a{
    text-decoration: none;
    font-size: $normal-size;
}
ul{
    padding: 0;
    list-style: none;
}