@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p, ul, ol {
  font-size: 1rem;
  font-weight: normal;
}

input[type=text] {
  border: none;
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}


:root {
  --header-height: 3rem;

  /*========== Colors ==========*/
  --first-color: black;
  --first-color-alt: #f9f9f9;
  --first-color-send: #de3b49;
  --title-color: #161212;
  --text-color: #5b5757;
  --text-color-light: #8f8a8a;
  --body-color: #fefbfb;
  --container-color: #fff;

  /*========== Font and typography ==========*/
  --body-font: "Cormorant Garamond", serif;
  --biggest-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;

  /*========== Font weight ==========*/
  --font-semi-bold: 600;
  --font-bold: 700;

  /*========== Margenes ==========*/
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;
  /*========== z index ==========*/

  --z-tooltip: 10;
  --z-fixed: 100;
}

@media screen and (min-width:1140px) {
  :root {
    --biggest-font-size: 3rem;
    --h2-font-size: 1.75rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
  }
}





body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
  line-height: 1.6;
}


body {
  font-family: "Cormorant Garamond", serif;
  overflow: hidden;
  background-color: #ffffff;
}

/*========== CLASS CSS ==========*/
.section {
  padding: 4rem 0 2rem;
}
.section-title,
.section-title-center {
  font-size: var(--h2-font-size);
  color: var(--title-color);
  text-align: center;
  margin-bottom: var(--mb-3);
}
.l-main {
  overflow: hidden;
}

.bd-container {
  max-width: 1140px;
  width: calc(100% - 3rem);
  margin-left: var(--mb-3);
  margin-right: var(--mb-3);
}

.bd-grid {
  display: grid;
  gap: 1.5rem;
}

.l-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--body-color);
}
.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.home__container {
  row-gap: 0.5rem;
}

.home__img {
  max-width: 550px;
  justify-self: center;
}
.home__data {
    max-width: 400px;
    justify-self: center;
    padding: 20px 30px;
}
.home__title {
  font-size: var(--biggest-font-size);
  font-weight: var(--font-bold);
  margin-bottom: var(--mb-2);
}

.home__description {
  margin-bottom: var(--mb-3);
}

/*========== BUTTONS ==========*/
.button {
  display: inline-block;
  background-color: var(--container-color);
  color: var(--first-color);
  padding: 0.5rem 1.4rem;
  border-radius: 0.5rem;
  border: 1px solid;
  border-color: var(--text-color);
  font-weight: var(--font-semi-bold);
  transition: 0.3s;
}

.button:hover {
  background-color: var(--first-color-alt);
}

.button-link {
  background: none;
  padding: 0;
  color: var(--first-color);
}

.button-link:hover {
  background-color: transparent;
  color: var(--first-color-alt);
}
