*{
    box-sizing: border-box;
}
body{

    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.4em;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    padding: 50px 0;
    background-color: wheat;
    
}
.block{
    width: 1000px;
    margin: 0 auto;
    border: 5px solid red;
    height: 1500px;
    text-align: center;
    position: relative;
    
}

.block_1{
    background-color: rgb(255, 239, 14);
    padding: 15px 0;
}
.block_2{
    /* text-align: left;
    background-color: rgb(138, 143, 184);
    padding: 15px 15px; */
    /* position: sticky; */
    /* top: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 120px;
    height: 100%;
    z-index: 100;
    transition: all 0.5s; */


    /* width: 100%; */
    /* position: absolute; */
    /* top: 30px;
    left: 30px;
    z-index: -2; */
}
/* .block_2:hover{
 left: 0;
 width: 200px; */
}
.block_3{
    background-color: rgb(30, 255, 0);
    padding: 15px 0;
    position: relative;
}