*{
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
table{
    border: 2px solid grey;
    border-collapse: collapse;
}
/* th, td{
    border: 1px solid grey;
    width: 150px;
    height: 150px;

}
td{
    text-align: center;
    vertical-align: middle;
} */

td{
    border: 1px solid black;
    width: 55px;
    height: 20px;
}