*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: #f5f5f5;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}
.row {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}
[class*="column-"] {
  padding-left: 15px;
  padding-right: 15px;
  min-width: 1px;
  max-width: 100%;
}
.column-1 {
  flex: 0 0 100%;
}
.column-2 {
  flex: 0 0 50%;
}
.column-3 {
  flex: 0 0 33.33%;
}
.column-4 {
  flex: 0 0 70%;
}
.column-5 {
  flex: 0 0 30%;
}
.card_page {
  width: 700px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
#card_detail {
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.visa_card {
  width: 600px;
  background-color: #9fcdcd;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  overflow: hidden;
}
.card_line {
  background-color: #db6423;
  margin: 25px 0;
  width: 500px;
  color: #fff;
  position: absolute;
  top: 0;
  left: 30px;
  z-index: 1;
}
.card_line h4 {
  margin: 0;
  padding: 15px 30px;
  letter-spacing: 1px;
}
form {
  padding-top: 100px;
  padding-bottom: 50px;
  width: 100%;
  display: flex;
  flex-direction: row;
}
label {
  font-size: 14px;
  font-weight: normal;
  color: #466c8d;
}
input {
  border: none;
  outline: none;
  width: 100%;
  padding: 10px;
  background-color: #a9d2d2;
  font-size: 18px;
  margin-bottom: 20px;
  margin-top: 10px;
  color: #799fa0;
  border-bottom: 1px solid #466c6f;
}
input::placeholder {
  text-align: left;
}
#info_card {
  display: flex;
  flex-direction: column;
}
.cvvday {
  display: flex;
  flex-direction: row;
}
.logo {
  position: absolute;
  left: 375px;
  top: 170px;
  width: 320px;
  height: 320px;
  background: url(../img/moon_flag.png) 0 0 / cover no-repeat;
}
