* {
  box-sizing: border-box;
}

.cards_item {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
  background-color: #f6f6f6;
  border-radius: 1rem;
  padding: 2rem;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.cards_row {
  display: grid;
  gap: 1.5rem;
}

.cards_row {
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

body {
  padding: 0;
  margin: 0;
  font-family: "Potta One", cursive;
  text-align: center;
}

.cards {
  padding: 4rem 0;
  background-color: #161616;
}
.cards_row {
  margin-left: 1rem;
  margin-right: 1rem;
}
.cards_title {
  font-size: 3rem;
}
.cards_text {
  font-size: 1rem;
  line-height: 1.5;
}
.cards .button {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  background-color: #682b2b;
  border-radius: 0.25rem;
  font-size: 1rem;
  padding: 0.625rem 1rem;
  transition: 0.4s;
  width: 100%;
  text-align: center;
}
.cards .button:hover {
  background-color: black;
}

.text, .text_second {
  color: blue;
  background-color: yellow;
  line-height: 1.9;
}