@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500;700&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
ul,
p {
  margin: 0;
}

h1,
h2,
h3 {
  font-weight: 500;
  color: #161212;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

input {
  width: 100%;
  border: none;
  outline: none;
}

select {
  width: 100%;
  border: none;
  outline: none;
}

textarea {
  width: 100%;
  border: none;
  outline: none;
  resize: none;
}

body {
  margin: 3rem 0 0 0;
  font-family: "Cormorant Garamond", serif;
  font-size: 1rem;
  background-color: #f9f9f9;
  color: #161212;
  line-height: 1.6;
}

.nav {
  max-width: 1140px;
  width: calc(100% - 3rem);
  margin-left: var(1.5rem);
  margin-right: var(1.5rem);
}

.l-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: #f9f9f9;
}

.nav {
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 200px) {
  .nav__logo {
    font-weight: 700;
    color: #161212;
  }
  .nav__logo:hover {
    color: #d9d9d9;
  }
  .nav__item {
    margin-bottom: 1.5rem;
  }
  .nav__link {
    color: #161212;
    font-weight: 700;
    transition: 0.3s;
  }
  .nav__link:hover {
    color: #979797;
  }
  .nav__toggle {
    color: #161212;
    font-weight: 700;
    font-size: 1.3rem;
    cursor: pointer;
  }
  .nav__toggle span {
    width: 30px;
    height: 4px;
    margin-bottom: 6px;
    background: #f9f9f9;
    display: block;
  }
}