* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    margin: 100px;
}
.container {
    min-width: 320px;
    max-width: 1200px;
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
}
section:nth-child(1) {
    flex-basis: 30%;
    width: 30%;
    
}
section:nth-child(2) {
    flex: 1 1 auto;
    width: 70%;
    
}
section {
    display: flex;
    flex-direction: column;
    margin: 10px; 
}
.upside {
    display: flex;
    flex-direction: row;
    margin: 10px;
}
.loading {

    display: flex;
    flex-direction: row;
    border: 2px solid #2c467e;
    margin-right: 10px;
}
.loading>p {
    background-color: #d0d6e2;
    padding: 5px;
    padding-right: 30px;
    width: 40%;
}
.loading>p+p {
    background-color: #fff;
    padding: 5px;
    padding-left: 100px;
    width: 60%;
}
a { display: block;
    text-decoration: none;
    border: 1px solid #2c467e;
    background-color: #3b5998;
    color: #fff;
    padding: 5px 40px;
}
h3 {
   padding: 20px 0;
}
p {
    font-size: 12px;
}
@media screen and (max-width:600px) {
    .container {
        display: flex;
        flex-direction: column;
    }
    section {
        
    }


}
img {
    max-width: 100%;
}