* {
    box-sizing: border-box;
}
body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    margin: 0;
    background-color: #575555;
}
.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 80px 15px;
}
.username label {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    font-size: 16px;
    transition: 0.5s;
    color: #333;
}

input[type=text]{
    border: none;
    border-bottom: 1px solid rgb(128, 128, 128);
    transition: .1s;
    padding-bottom: 7px;
    outline: none;
}
input[type=text]:focus{
    outline:none ;
    /* border-bottom: 1.5px solid rgb(54, 91, 255); */
}
.username {
    position: relative;
}
.username input {
    width: 100%;
    top: 50%;
}
.username input:focus + label {
    top: -20px;
    left: 0;
    color: rgb(1, 82, 255);
    font-size: 0.8rem;
}
.username input::placeholder {
    
}
.check {
    position: relative;
}
.checkbox {
    display: inline-block;
    -webkit-appearance: none;
    appearance: none;
    width: 1rem;
    height: 1rem;
    border: 1px solid rgba(255, 251, 0, 0.507);
    border-radius: 2px ;
    outline: none;
    position: absolute;
    top: -2px;
    left: 0;
}
input {
    background-color: transparent;
}
.checkbox:checked {

    outline: none;
    background-color: limegreen;
    box-shadow: 0 0 5px 0 rgb(255, 238, 0);
    transition: 0.5s;
}
.checkbox + label {
    padding-left: 1.4rem;
   
}
.toggle {
    position: relative;
}
.toggle_button {
    -webkit-appearance: none;
    appearance: none;
    width: 3rem;
    height: 1rem;
    background-color: rgb(0, 215, 243);
    border-radius: 50px;
    outline: none;
    transition: .5s;
}
.toggle_button::before {
    content: "";
    display: inline-block;
    position: absolute;
    top: 1px;
    left: 0;
    width: 1.3rem;
    height: 1.3rem;
    background-color: #fff;
    border-radius: 100%;
    box-shadow:0 0 3px 0  rgba(255, 251, 0, 0.507) ;
    transition: .5s;
}
.toggle_button:checked {
    background-color: rgb(0, 158, 250);
}
.toggle_button:hover:before {
    transform: scale(1.1);
}
.toggle_button:checked:before {
    left: calc(3rem - 1rem);
}
::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-thumb {
    background-color: rgb(38, 2, 58);
    border: 1px solid yellow;
    border-radius: 50px;
    box-shadow:0 0 10px 0  rgba(255, 251, 0, 0.507) ;
}
.block {
    height: 100vh;
}
.search {
    background-color: rgb(163, 163, 163);
    border-radius: 50px;
    font-size: 16px;
    display: flex;
    align-items: center;
}
.search input {
    border: none;
    outline: none;
}
.search_input {
    border: none;
    outline: none;
    background-color: transparent;
    flex: 1;
    margin-right: 0.3rem;
}
.mod {
    color: springgreen;
    font-size: 1em;
     margin-left: 0.3rem;
}
.search_box {
    display: flex;
    align-items: center;
}
.search_box  label {
    display: flex;
    align-items: center;
}