 *{
    box-sizing: border-box;
}
body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    
}
.container {
    width:600px; 
    height:400px;
    overflow:auto;
    margin: 0 auto;
}
table {
    border-collapse: collapse;
    text-align: center;
    width: 100%; 
}
td, th {
    padding: 20px;
    min-width: 120px;
}
tr th:first-child {
    position: sticky;
    top: 0;
    background-color:#add8e6;
    left: 0; 
    z-index: 10;
}
tr th:nth-child(n+2) {
    position: sticky;
    top: 0;
    background-color:#add8e6;
}
tr td:nth-child(1){
  background-color: #add8e6;
    position: sticky;
    left: 0;  
  }
tr:nth-child(2n-1) td:nth-child(n+2) {
    background-color: #f5f5f5;
}
tr:nth-child(2n) td:nth-child(n+2) {
    background-color: #e9e9e9;
}