<%- include ("partials/head") %>

<h1>
  WELCOME TO MY PAGE YOU MAY KNOW ABOUT MY FRIENDS IF YOU CLICK "INFORMATION
  ABOUT MY FRIENDS" BUTTON
</h1>
<div class="d-flex flex-column">
  <a class="btn btn-success mb-4" href="/comments">LIST MY FRIENDS</a>

  <a class="btn btn-success mb-4" href="/tasks">ABOUT MY FRIENDS </a>
</div>

<%- include ("partials/footer") %>
