*{
    box-sizing: border-box;
}
body{
    color: #555;
    font-family: Cambria, serif;
    margin: 0;
    position: relative;
    line-height: 24px;

}
.container{
    width: 1140px;
    margin: 0 auto;
}
.text-center{
    text-align: center;
}
header{
    /* width: 1600px; */
    height: 770px;
    color: #fff;
    background: url(../img/header_bg.jpg) 0 0/cover no-repeat;
    padding-top: 40px;

}
h1, h2, h3, h4, h5{
    font-family: sans-serif;
    text-transform: uppercase;
}

h1{
    font-size: 3rem;
    padding-top: 260px;
    margin-bottom: 35px;
}
header h2{
    font-family: Cambria, serif;
    text-transform: capitalize;
    font-weight: normal;
    font-size: 20px;
    margin-bottom: 55px;
}
.btn_started{
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    border: 2px solid #ffffff;
    color: #ffffff;
    font-family: sans-serif;
    padding: 18px 44px;
    
    transition: 0.5s;
    font-weight: bold;
}
.btn_started:hover,
.btn_started:focus{
    background-color: #fff;
    color: #5e150f;
}
.logo{
    font-size: 24px;
    font-weight: bold;
    font-family: sans-serif;
}
[class^="column"]{
    float: left;
    padding: 0 15px;

}
.row{
    margin: 0 -15px;

}
.row::before,
.row::after{
    content: "";
    display: table;
}
.row::after{
    clear: both;
    content: "";
}
.column-2{
    width: 50%;
}
.column-3{
    width: 33.33%;
}
.column-4{
    width: 25%;
}
.menu{
    float: right;
    text-align: right;
    font-family: sans-serif;
    margin: 2px 0;
}
.menu a{
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    margin-left: 25px;
    font-family: sans-serif;
    letter-spacing: 1px;
}

.menu a:hover{
    text-decoration: underline;
}
#services{
    padding: 100px 0 100px 0;
}
.line_header::after{
    content: "";
    display: block;
    width: 50px;
    height: 2px;
    background-color: #555;
    margin: 30px auto;
    border: solid;


}
.intro-text{
    margin-bottom: 70px;
    font-size: 16px;
}
.service p{
    font-size: 14px;
    line-height: 24px;
}
.service h3{
    font-style: 1em;
    margin: 30px 0 25px;
}
