mixin nav 
    div.container
         header
            nav
                ul
                    li
                        a(href="/")
                            img(src="/img/logo.png" alt="")
                    li
                        a(href="/addbook") Add book
                    li
                        a(href="/") Search