<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap" rel="stylesheet">
</head>

<body>
    <div class="container">
        <header>
            <nav>
                <ol>
                    <li>
                        <a href="/"><img src="http://assets.stickpng.com/images/585990234f6ae202fedf28cf.png"
                                width="150" alt=""></a>
                    </li>
                    <li>
                        <a href="/products">Products</a>
                    </li>
                    <li>
                        <a href="/about">About</a>
                    </li>
                    <li>
                        <a href="/auth">Sign in</a>
                    </li>

                </ol>
            </nav>
            <main>
                <h1>Sales <span>up to 70%</span></h1>
            </main>
        </header>
    </div>
    <div class="container">
        <main>
            <section>
                <h2>Products</h2>
                <div class="cards-wrapper">
                    <div class="product-card">
                        <img src="images/product-image-placeholder.jpg"
                            alt="" width="320">
                        <div class="card-body">
                            <h3>Product title</h3>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus voluptates
                                consequuntur architecto totam! Eos, quod aliquam commodi eum voluptates optio?</p>
                            <div class="wrapper">
                                <button>Learn more</button>
                                <button>Add to cart</button>
                            </div>
                        </div>
                    </div>

                    <div class="product-card">
                        <img src="images/product-image-placeholder.jpg"
                            alt="" width="320">
                        <div class="card-body">
                            <h3>Product title</h3>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus voluptates
                                consequuntur architecto totam! Eos, quod aliquam commodi eum voluptates optio?</p>
                            <div class="wrapper">
                                <button>Learn more</button>
                                <button>Add to cart</button>
                            </div>
                        </div>
                    </div>

                    <div class="product-card">
                        <img src="images/product-image-placeholder.jpg"
                            alt="" width="320">
                        <div class="card-body">
                            <h3>Product title</h3>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus voluptates
                                consequuntur architecto totam! Eos, quod aliquam commodi eum voluptates optio?</p>
                            <div class="wrapper">
                                <button>Learn more</button>
                                <button>Add to cart</button>
                            </div>
                        </div>
                    </div>

                    <div class="product-card">
                        <img src="images/product-image-placeholder.jpg"
                            alt="" width="320">
                        <div class="card-body">
                            <h3>Product title</h3>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus voluptates
                                consequuntur architecto totam! Eos, quod aliquam commodi eum voluptates optio?</p>
                            <div class="wrapper">
                                <button>Learn more</button>
                                <button>Add to cart</button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
    </div>


    <script src="scripts/script.js"></script>
</body>

</html>