*,
*::before,
*::after {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background-color: rgb(180, 180, 180);
}
a {color: #ffffff;}
a:hover {color: #ff0000;}
.container {
    max-width: 1140px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.row {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}
[class*="column-"] {
    padding: 10px 15px;
    min-width: 1px;
    max-width: 100%;
    flex-wrap: wrap;
}
.column-1 {
    flex: 0 0 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.column-2 {
    flex: 0 0 50%;
}
.column-3 {
    flex: 0 0 33.33%;
}
.column-4 {
    flex: 0 0 40%;
}
.column-5 {
    flex: 0 0 60%;
}
.column-6 {
    display: flex;
    flex-direction: column;
    flex: 0 0 100%;
}
.column-7 {
    flex: 0 0 25%;
    display: flex;
    flex-direction: row;
}
.column-10 {
    flex: 0 0 20%;
}
.column-9 {
    flex: 0 0 80%;
}
.stick img {
    display: block;
    width: 300px;
    height: 300px;
}
.sushis {
    align-items: center;
}
.sushis .column-6 {
    align-items: center;
    justify-content: center;
}
.stick input {
    box-shadow: none;
}
.main-nav {
    position: fixed;
    top: 0px;
    z-index: 10;
    width: 100%;
    padding: 10px;
    background: rgb(121, 121, 121);
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.38);
    min-height: 65px;
}
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
}
nav ul li {
    margin-left: 35px;
    line-height: 1.5;
    letter-spacing: 1px;
}
nav ul a {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    padding-bottom: 4px;
    transition: .5s;
}
nav ul a:hover {
    color: #000000;
    border-bottom-color: #000000;
}
#order {
    padding: 80px 0;
}
.heading {
    font-size: 3rem;
    line-height: 1.5;
    text-align: center;
    margin: 3.5rem 0;
    color: #1a1a1a;
    text-shadow: 0 0 5px rgb(194, 216, 0);
}
h3 {
    font-size: 2rem;
    line-height: 1.5;
    text-align: left;
    margin: 3.5rem 0;
    color: #1a1a1a;
    text-shadow: 0 0  2px red;
    text-align: center;
}
.form {
    display: flex;
    flex-direction: column;
}
form {
    display: flex;
    flex-direction: column;
}
.payment {
    box-shadow: 0 0 5px 0.5px black;
    font-size: 1.1rem;
    font-weight: bold;
    color: rgb(14, 0, 143);
    margin-bottom: 10px;
}
.payment input {
    box-shadow: none;
}
input {
    border: none;
    outline: none;
    width: 100%;
    padding: 15px;
    font-size: 1.1rem;
    box-shadow: 0 0 10px 0.5px rgb(110, 110, 110);
}
iframe {
    padding: 10px 15px;
}
p {
    text-align: left;
    padding: 30px 30px 5px 30px;
}
span {
    color: rgb(80, 10, 10);
}
textarea {
    border: none;
    outline: none;
    width: 100%;
    padding: 15px;
    font-size: 1.1rem;
    box-shadow: 0 0 10px 0.5px rgb(110, 110, 110);
    resize: none;
}
button {
    text-align: center;
    padding: 20px;
    font-size: 1.3rem;
    background-color: rgb(255, 253, 163);
    border: none;
    outline: none;
    border-radius: 30px;
    text-transform: uppercase;
    font-weight: bold;
    box-shadow: 0 0 5px 0.5px grey;
}
button:active  {
   background-color: rgb(199, 255, 136);
}
#footer {
    background-color: rgb(121, 121, 121);;
    color: #fff;
    margin-top: 3rem;
    padding: 10px 0;
}

#footer .row {
    margin: 0;
}

#footer a {
    color: #c0d9fc;
    display: inline-block;
    margin-left: 5px;
}
.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}