*,
*::before,
*::after {
    box-sizing: border-box;
}
body {
    margin: 40px 0; 
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: black;
    background-color: #f5f5f5;
}
.flex_container {
    max-width: 1100px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.row {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}
.anie {
    display: flex;
    flex-direction: row;
}
.jack {
    display: flex;
    flex-direction: row;
}
[class*="column-"] {
    padding-left: 15px;
    padding-right: 15px;
    min-width: 1px;
    max-width: 100%;
}
.column-2 {
    flex: 0 0 60%;
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
}
.column-1 {
    flex: 0 0 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
span {
    opacity: 70%;
}
p { 
    font-size: 14px;
    margin: 5px 0;
}
.img {
    flex: 0 0 40%;
}
.text {
    flex: 0 0 60%;
}
img {
    display: block;
    width: 100%;
    position: relative;
}
h4 {
    margin: 0;
    font-size: 16px;
    font-weight: normal;
}
.anie h4 {
    text-align: right;
}
.anie .column-1 p{
    text-align: right;
}
.p_text_one {
    font-size: 16px;
    line-height: 24px;
    width: 100%;
    background-color: #ffb6c1;
    padding: 30px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    color: black;
    text-align: left;
}
.p_text_two {
    font-size: 16px;
    line-height: 24px;
    width: 100%;
    background-color: #add8e6;
    padding: 30px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    color: black;
    text-align: right;
}
