*,
*::before,
*::after {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background: url(../img/372558-svetik.jpg) 0 0/cover no-repeat;
    color: #fff;
}
.flex {
    max-width: 1200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}
.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-width: 900px;
    box-shadow: 0 0 20px 10px black;
    padding: 50px;
    
}
[class*="column-"] {
    padding-left: 15px;
    padding-right: 15px;
    min-width: 1px;
    max-width: 100%;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
}
.column-2 {
    flex: 0 0 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.column-3 {
    flex: 0 0 20%;
}
p {
    margin-left: 30px;
}
h2 {
    margin-left: 30px;
}
input {
    border: none;
    padding: 8px;
    outline: none;
    width: 100%;
    margin-right: 10px;
}
.column-1 {
    flex: 0 0 80%;
}
select {
    margin-right: 10px;
    width: 100%;
    padding: 8px;
}
textarea {
    margin-right: 10px;
    width: 100%;
    padding: 8px;
    resize: none;
    outline: none;
    border: none;
}
.line_header {
    border-bottom: 2px solid #fff;
    margin-bottom: 20px;
    margin-right: 40px;
    margin-left: 40px;
}
.btn {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
button {
    margin-right: 20px;
    width: 75%;
    padding: 8px;
    background: transparent;
    color:#fff;
    font-weight: bold;
    border: 2px solid #fff;
    outline: none;
}
button:active {
    background-color: #fff;
    color: black;
}
