mixin footer
    footer
        // Footer Start
        .footer-area.footer-padding
            .container
                .row.d-flex.justify-content-between
                    .col-xl-3.col-lg-3.col-md-5.col-sm-6
                        .single-footer-caption.mb-50
                            .single-footer-caption.mb-30
                                // logo
                                .footer-logo
                                    a(href='/')
                                        img(src='/img/logo/logo.png' alt='')
                                .footer-tittle
                                    .footer-pera
                                        p
                                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore.
                    .col-xl-2.col-lg-3.col-md-3.col-sm-5
                        .single-footer-caption.mb-50
                            .footer-tittle
                                h4 Quick Links
                                ul
                                    li
                                        a(href='#') About
                                    li
                                        a(href='#')  Offers & Discounts
                                    li
                                        a(href='#')  Get Coupon
                                    li
                                        a(href='#')   Contact Us
                    .col-xl-3.col-lg-3.col-md-4.col-sm-7
                        .single-footer-caption.mb-50
                            .footer-tittle
                                h4 New Products
                                ul
                                    li
                                        a(href='#') Woman Cloth
                                    li
                                        a(href='#') Fashion Accessories
                                    li
                                        a(href='#')  Man Accessories
                                    li
                                        a(href='#')  Rubber made Toys
                    .col-xl-3.col-lg-3.col-md-5.col-sm-7
                        .single-footer-caption.mb-50
                            .footer-tittle
                                h4 Support
                                ul
                                    li
                                        a(href='#') Frequently Asked Questions
                                    li
                                        a(href='#') Terms & Conditions
                                    li
                                        a(href='#') Privacy Policy
                                    li
                                        a(href='#') Privacy Policy
                                    li
                                        a(href='#') Report a Payment Issue
                // Footer bottom
                .column
                    .col-xl-12.col-lg-12.col-md-12
                        .footer-copy-right
                            p
                                | Copyright ©
                                script.
                                   document.write(new Date().getDate()+".");   document.write(new Date().getMonth()+1 +".");document.write(new Date().getFullYear());
                                |  All rights reserved | Владельцем настоящего сайта является компания iHerb, LLC, расположенная по адресу 301 North Lake Avenue, Suite 600, Pasadena, California, USA, 91101 (США, Калифорния, 91101, Пасадена, Норс Лейк Авеню 301, кабинет 600). По юридическим вопросам с iHerb, LLC можно связаться по электронной почте legal@iherb.com. iHerb.com© Copyright 1997-2021 iHerb, LLC. Все права защищены. iHerb® является зарегистрированным товарным знаком iHerb, LLC. Trusted Brands. Healthy Rewards. и the iHerb.com Trusted Brands. Healthy Rewards. Логотип является товарным знаком iHerb, LLC. *Отказ от ответственности. Заявления, сделанные через сайт iHerb.com, и продаваемые там товары не подвергались проверке Управления по контролю за продуктами и лекарственными препаратами США. Они не могут быть использованы для диагностики, лечения или профилактики заболеваний.
                                i.ti-heart(aria-hidden='true')
                                | 
                                a(href='https://ru.iherb.com/' target='_blank')  iHerb.com   
                    .col-xl-6.col-lg-6.col-md-6
                        .footer-copy-right.f-right
                            // social
                            .footer-social
                                a(href='#')
                                    i.fab.fa-twitter
                                a(href='#')
                                    i.fab.fa-facebook-f
                                a(href='#')
                                    i.fab.fa-behance
                                a(href='#')
                                    i.fas.fa-globe
        // Footer End
    script(src='/js/vendor/modernizr-3.5.0.min.js')
    // Jquery, Popper, Bootstrap
    script(src='/js/vendor/jquery-1.12.4.min.js')
    script(src='/js/popper.min.js')
    script(src='/js/bootstrap.min.js')
    // Jquery Mobile Menu
    script(src='/js/jquery.slicknav.min.js')
    // Jquery Slick , Owl-Carousel Plugins
    script(src='/js/owl.carousel.min.js')
    script(src='/js/slick.min.js')
    // One Page, Animated-HeadLin
    script(src='/js/wow.min.js')
    script(src='/js/animated.headline.js')
    script(src='/js/jquery.magnific-popup.js')
    // Scrollup, nice-select, sticky
    script(src='/js/jquery.scrollUp.min.js')
    script(src='/js/jquery.nice-select.min.js')
    script(src='/js/jquery.sticky.js')
    // contact js
    script(src='/js/contact.js')
    script(src='/js/jquery.form.js')
    script(src='/js/jquery.validate.min.js')
    script(src='/js/mail-script.js')
    script(src='/js/jquery.ajaxchimp.min.js')
    // Jquery Plugins, main Jquery
    script(src='/js/plugins.js')
    script(src='/js/main.js')
