*{
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
.btn{
    font-size: 1rem;
    display: inline-block;
    color: #f5f5f5;
    background-color: rgb(98, 98, 246);
    text-decoration: none;
    padding: 10px 40px;
    border-radius: 50px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 6); 
    /* TEN dlya knopku
 */
    text-transform: uppercase;
    letter-spacing:1px;
    transition: all 0.3s ease-in, letter-spacing 0.1s linear; 
} 
/* :active, :hover, :focus, :visited */
.btn:active{
    box-shadow: none;
    letter-spacing: 2px;
    background-color: rgb(6, 107, 3);
}
.square{
    width: 150px;
    height: 150px;
    margin: 100px;
    background-color: rgb(185, 64, 64);
    transform-origin: bottom;
    transition: all 1s ease;
    /* transform: scale(0.5) rotate(45deg) translate(500px, 10px) skew(30deg); */
    
/* rasplajeniya transform transform-origin:0 0; */
}
.square:hover{
    box-shadow:0 0 10px rgb(185, 64, 64); ;
    /* box-shadow: 0 0 20px rgba(0, 0, 0, 6); */
    transform: scale(1) rotate(45deg);
    transform: ;
}