* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    margin: 0;
    background-color: #014242;
    color: #fff;
}
.flex_container {
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}
[class*="column-"] {
    padding-left: 15px;
    padding-right: 15px;
    min-width: 1px;
    max-width: 100%;
}
.column-4 {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex: 0 0 75%;
    align-items: center;
}
.column- {
    flex: 0 0 25%;
}
ul a::after{
    content: " /";
}
ul {
    list-style-type: none;
}
nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    padding: 0;
}
nav ul li {
    margin-top: 40px;
    margin-left: 15px;
    line-height: 1.5;
    letter-spacing: 1px;
}
a {
    text-decoration: none;
    color: #8d9494;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: 2px solid transparent;
    padding-bottom: 4px;
    transition: .5s;
}
a:hover {
    color: #fff;
    border-bottom-color: #989898;
}
h1 {
    margin: 40px 0;
    font-size: 56px;
    line-height: 86px;
    letter-spacing: 2px;
}
p {
    font-size: 20px;
    line-height: 32px;
}
span {
    color: #8d9494;
}
.img {
    width: 180px;
}
img {
    display: block;
    width: 100%;
}
.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.information {
  
}
.info_one{
    margin-left: 50px;
}
.info_two {
    margin-left: 50px;
}
.info_three {
    margin-left: 50px;
}
.info_four {
    margin-left: 50px;
}
.one {
    display: flex;
    flex-direction: row;
}
.three {
    display: flex;
    flex-direction: row;
}


@media screen and (max-width: 599px) {
    h1 {
        font-size: 42px;
        line-height: 56px;
        letter-spacing: 1px;
    }
    .one {
        flex-direction: column;
    }
    .three {
        display: flex;
        flex-direction: column-reverse;
        
    }
    .info_one {
        margin-bottom: 50px;
    }
    .info_four {
        margin-bottom: 50px;
    }
}