<%- include ("partials/head") %>

<h1 class="text-center">IT IS HOME PAGE</h1>
<div class="d-flex justify-content-center">
  <a
    class="btn btn-primary mb-4"
    style="padding: 100px; font-size: 72px"
    href="/blogs"
    >BLOGS
  </a>
</div>

<%- include ("partials/footer") %>
