*{
    box-sizing: border-box;
}
body{
    color: #555;
    font-family: Cambria, serif;
    margin: 0;
    position: relative;
    line-height: 24px;
    margin-top: 100px;
}
.container{
    width: 1140px;
    margin: 0 auto;
}
.text-center{
    text-align: center;
}
[class^="column"]{
    float: left;


}
.row{
    margin: 0 -15px;

}
.row::before,
.row::after{
    content: "";
    display: table;
}
.row::after{
    clear: both;
    content: "";
}
.column-2{
    width: 50%;
    position: relative;
    
}
img {
    display: block;
    width: 100%;
    height: 100%;
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 1s ease;
    background-color: #fff;
}
.number_1:hover .overlay {
    opacity: 1;

}
  
.text {
    color: rgb(0, 0, 0);
    font-size: 36px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}
  
.image {
    display: block;
    width: 100%;
    height: auto;
}
  
img:hover {
    transform:scale(1.8);
    -webkit-transform:scale(1.8); /* Safari and Chrome */
    
}
.img-wrapper {
    display: inline-block; 
    overflow: hidden;     
}
.img-wrapper img {
    transition: all 1s ease;
    vertical-align: middle;
}

